mixin software(phs, drw, ill, afe, ind, html)
    #software
      .part-table
        .cell
          i.sprite.sprite-SOFTWARE-ICON
        .part-name.cell SOFTWARE
        .cell
          .line
      .software-block
        .fl-left.big-words
          span PHOTOSHOP
          br
          svg.software-word-pad(height='25')
            rect(width='306', height='25', fill='rgb(230, 230, 230)')
            rect(width=phs*3.06, height='25', fill='rgb(61, 108, 176)')
        .fl-left.big-words
          | DREAMWEAVER
          br
          svg.software-word-pad(height='25')
            rect(width='306', height='25', fill='rgb(230, 230, 230)')
            rect(width=drw*3.06, height='25', fill='rgb(61, 108, 176)')
        .fl-left.big-words
          | ILLUSTRATOR
          br
          svg.software-word-pad(height='25')
            rect(width='306', height='25', fill='rgb(230, 230, 230)')
            rect(width=ill*3.06, height='25', fill='rgb(61, 108, 176)')
        .fl-left.big-words
          | AFTER EFFECTS
          br
          svg.software-word-pad(height='25')
            rect(width='306', height='25', fill='rgb(230, 230, 230)')
            rect(width=afe*3.06, height='25', fill='rgb(61, 108, 176)')
        .fl-left.big-words
          | INDESIGN
          br
          svg.software-word-pad(height='25')
            rect(width='306', height='25', fill='rgb(230, 230, 230)')
            rect(width=ind*3.06, height='25', fill='rgb(61, 108, 176)')
        .fl-left.big-words
          | HTML&CSS3
          br
          svg.software-word-pad(height='25')
            rect(width='306', height='25', fill='rgb(230, 230, 230)')
            rect(width=html*3.06, height='25', fill='rgb(61, 108, 176)')
